[submodule "vim/.vim/bundle/gruvbox"]
  path = vim/.vim/bundle/gruvbox
  url = https://github.com/morhetz/gruvbox.git
[submodule "vim/.vim/bundle/vim-test"]
  path = vim/.vim/bundle/vim-test
  url = https://github.com/vim-test/vim-test.git
[submodule "vim/.vim/bundle/ctrlp.vim"]
  path = vim/.vim/bundle/ctrlp.vim
  url = https://github.com/ctrlpvim/ctrlp.vim.git
